Sort by Priority:
<form action="<%= tasks_path %>" method="get" name="form">
<input type="radio" name="sort" value="asc" <% if session[:sort] == 'asc' %> checked="true" <% end %>>
asc
<input type="radio" name="sort" value="desc" <% if session[:sort] == 'desc' %> checked="true" <% end %>>  
desc
<input type="radio" name="sort" value="unsorted" <% unless session[:sort] == 'asc' || session[:sort] == 'desc' %> checked="true" <% end %>  >
unsorted
<button type="submit">Submit</button>
</form>