<ul>
  <li><b>id</b>: <%= task.id %></li>
  <li><b>description</b>: <%= task.description %></li>
  <li><b>created_at</b>: <%= task.created_at %></li>
  <li><b>required completion date</b> <%= task.required_completion_date %></li>
</ul>
