<table>
  <tr>
    <th>Description</th>
    <th>Completion Date</th>
  </tr>

    <% @tasks.each do |task| %>
    <tr>
      <td><%=link_to task.description, task_path(task) %></td>

      <td><%= task.completion_date %></td>
    </tr>
    <% end %>

</table>