<h1>All Project Tasks</h1>

<% @tasks.each do |task| %>
 <%= render task %>
 <%= link_to "Show Task", task_path(task) %>
 <%= link_to "Delete Task", task_path(task), :method => :delete, data: {confirm: "Are you sure you want to delete the task?"} %>
<% end %>