<h1> All Tasks </h1>
<% @tasks.each do |task| %>
  <%= render partial: 'shared/task_display', locals: { task: task } %>
  <span><%= link_to "edit", edit_task_path(task) %>
  <span><%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }%></span>
<% end %>