<!-- <div class="col-xs-8">
<h3>Completion date: <%= @task.date.strftime('%x') %></h3>
 <h3>Description: <%= @task.description %></h3>
</div>
<div class="col-xs-8">
<p><%= link_to "Edit", edit_task_path(@task) %></p>
<% if @task.importance %>
  <p class="bold">Important!</p>
<% end %>
</div> -->

<div class="col-xs-10 show">
<%= render :partial => 'tasks', :locals => { :task => @task } %>
</div>
