<h1> <%= @task.description %> </h1>
<p> Due by: <%= @task.due_date %> </p>
<p> Urgency: <%= @task.urgency %> </p>
<br>
<p>
<%= link_to "Delete this Task", task_path(@task), :method => :delete %>
</p>
