<h1>INDEX</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "Task:", task %>
      <%= render :partial => 'task/task', :locals => {:task => task} %>     
    </li>
  <% end %>

</ul>
