<nav class="navbar navbar-default">
  <div class='container-fluid'>
    <div class="nav navbar-nav">
      <a class="navbar-text" href="<%= root_path %>">Tasks index</a>
      <!-- <a class="navbar-text" href="<%= search_path %>">Search Page</a> -->
    </div>
  </div>
</nav>
