<ul class="nav nav-pills nav-wrapper">
  <li role="lists all tasks" >

  <%= link_to "Tasks Index", root_path %>

  </li>
<!--   <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li> -->
</ul>