<ul class="nav nav-pills nav-wrapper">
  <li role="lists all tasks" ><a href="#">Tasks Index</a></li>
<!--   <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li> -->
</ul>