<ul class="nav nav-pills nav-wrapper">
  <li role="lists all tasks" >
    <%= link_to "Tasks Index", root_path %>
  </li>
  <li role="create new task" >
    <%= link_to "Create New", new_task_path %>
  </li>
</ul>