<li>
  <%= link_to task.due, task_path(task.id) %>
  <br>
  <%= task.description %>
  <br>
  <%= link_to "Edit", edit_task_path(task.id) %>
  <br>
  <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Really delete the article?"} %>
</li>

<hr>
