<div class="container">
  <div class="jumbotron bg-photo" style="background-image: url(https://apod.nasa.gov/apod/image/1504/MysticMountain_HubbleForteza_960.jpg); background-size: 100%; object-fit: cover; opacity: 0.92">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead"><%= link_to 'All Tasks', tasks_path %></p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>