</div>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Todo App!</h1>
    <p>Manage your todos with Twilio...</p>
    <%= link_to 'Get to Tasking Now!', todos_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>