body {
  background-color: #fff5cc;
}

.panel-style {
  .panel-heading-style {
    background-color: #0375b4;
    color: #fff;
  }
  background-color: #cce3f0;
  border: 1px solid #0375b4;
}

.hr-style {
  border-top: 1px solid #0375b4;
}