<%= form_tag({controller: "todos", action: "update"}, method: "put", class: "form-inline") do %>
  <div class="form-group">
  	<%= text_field_tag 'text',nil, class: "form-control", value: @current_todo['text'] %>
  </div>
  <div class="form-group">
  	<%= text_field_tag 'completion_date',nil, class: "form-control", type: "date", value: @current_todo['completion_date'] %>
  </div>
  <div class="form-group">
  	<%= submit_tag "Edit ToDo", class: "btn btn-primary" %>
  </div>
<% end %>