<section id="form">

  <div class="panel well">

    <div class="panel-body">

      <div class="row">

        <%= form_for todo do |t| %>

          <div class="col-md-10">
            <%= t.text_field(:task, class: "form-control", placeholder: "Add new task") %>
          </div>

          <div class="col-md-2">
            <%= t.submit("Save New Task", class: "btn btn-info btn-block") %>
          </div>

        <% end %>

      </div>

    </div>

  </div>

</section>