<div class="row">
    <main class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Completion Date</b></td>
                    <td><b>ToDo</b></td>
                    <td><b>Completed?</b></td>
                    <td><b>Edit?</b></td>
                </tr>
            </thead>
            <tbody>
                <!-- Reverse causes the newest todo to be on top, per the spec -->
                <% todos.reverse.each do |todo| %>
                    <%= render partial: 'todo', :locals => {:todo => todo} %>
                <% end %>
            </tbody>
        </table>
    </main>
</div>