<tr>

  <td><%= todo.task %></td>

  <td>
    <% if todo.completion_date.nil? %>
      <%= link_to "Mark Completed", "#", class: "btn btn-info btn-xs", role: "button" %>
    <% else %>
      <%= todo.completion_date.strftime('%a, %b %e, %Y') %>
    <% end %>
  </td>

  <td>
    <%= link_to "Delete!", todo, :method => :delete %>
  </td>

</tr>