<%= render partial: 'navbar' %>

<!-- Page Content -->
<div class="container">
    <h1>Edit ToDo:</h1>
    
    <%= render partial: 'edit_todo_form' %>

    <%= render partial: 'footer' %>

</div>
<!-- /.container -->