<div class="jumbotron">

  <h1>Hello, busy Viking!</h1>

  <p>We know that balancing exploration of new lands, raids, conquests, and trade can get complicated.  Here you'll find an application to help you manage it all whether you be a Thrall, Karl, or Jarl! </p>

  <p>
    <%= link_to "Get Started!", todos_path, class: "btn btn-primary btn-lg"  %>
  </p>
  
</div>