@import 'colors';


.curriculum {
  ol {
    li {
      margin-top: 10px;
      font-weight: bold;
      span {
        font-size: 0.9em;
        color: gray;
        font-style: italic;
        font-weight: normal;
      }
    }
    ul {
      padding: 0px;
      .current {
        background-color: lighten($teal, 45%);
        border: 1px solid $teal;
        display: inline-block;
        padding: 1px 7px;
        margin-left: -7px;
        i {color: darken($teal, 10%);}
      } /* .current */
      .paused {
        background-color: lighten($yellow, 43%);
        display: inline-block;
        padding: 1px 7px;
        margin-left: -7px;
        i {color: lighten($yellow, 20%);}
      } /* .current */
      // .arrow-right {
      //   width: 0;
      //   height: 0;
      //   border-top: 7px solid transparent;
      //   border-bottom: 7px solid transparent;
      //   border-left: 15px solid $teal;
      //   float: left;
      //   margin-right: 5px;
      //   margin-top: 5px;
      // }
      li {
        margin-top: 0px;
        font-weight: normal;
        list-style-type: none;
        input {margin-right: 5px;}
      }
    }
  }
} /* .curriculum */
