@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/color_scheme';
@import 'partials/bootstrap_overide';
@import 'partials/home';

body {
  /* prevent bootstrap resizing for screen width <300px */
  min-width: 300px;
  width: auto !important;
  /* to account for height of navbar & footer */ 
  margin-top: 50px;
  margin-bottom: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

.main-content {
  padding-top: 20px;
}