// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-static-top {
  margin-bottom: 19px;
}

.task-box {
  border: solid 1px #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
