@import 'colors';


article.task {
  border: 1px solid lightgray;
  padding: 2% 5% 1% 5%;
  margin: 1em 0em;
  h1 { font-size: 1.25em; }
  h2 {
    font-size: 0.95em;
    font-weight: bold;
  }
  .date { text-align: center;}
  .align-right { text-align: right; }

} /* article.task */

.complete {
  background-color: $gray;
} /* .complete */

.incomplete {
  border: 1px solid red;
} /* .complete */