<form method="post" action="/text">
  <input  type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="number" type="text">
  <input type="submit" value="Submit">
</form>
