<main class="container">

  <section id="home">


    <div class="row">

      <div class="col-xs-12">

        <h1 class="text-center">Welcome to the Viking Task Manager!</h1>

      </div>

    </div>


    <div class="row">

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <%= link_to "Get Started!", todos_path, class: "btn btn-primary btn-lg btn-block", role: "button" %>

      </div>

    </div>

  </section>

</main>