
<main class="container">

  <section id="home">

    <div class="row">

      <div class="col-xs-12">

        <h1>Welcome Text</h1>
        <p>Start Button</p>

      </div>

    </div>

  </section>

</main>